* {
    background:     #1e2030;  /* @mantle */
    background-alt: #363a4f;  /* @surface0 */
    foreground:     #cad3f5;  /* @text */
    selected:       #b7bdf8;  /* @blue */
    active:         #a6da95;  /* @green */
    urgent:         #ed8796;  /* @red */

    border-color:   #8aadf4;  /* optional for window borders */
    highlight:      #f5bde6;  /* @pink - for matched text highlight */
}

